*{margin: 0; padding: 0;}
body{margin: 0;	padding: 0;
  width: 100%;
  height: 100vh;
  background-image: url('p.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
